@model RoleToReturnDTO
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Role</h1>
<br />
<br />

<form asp-action="Edit" enctype="multipart/form-data">

    <partial name="RolePartialView/_CreateEditPartialView" />

    <div>
        <a asp-action="AddOrRemoveUsers" asp-route-id="@Model.Id" class="btn btn-success">Add or Remove User</a>
        <input type="submit" value="Save" class="btn btn-primary"/>
        <a asp-action="Index" class="btn btn-light">Back To list</a>
    </div>

</form>
@section ValidationSection {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}