@model Department
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Department</h1>
<br />
<br />

<form asp-action="Delete">

    <partial name="DepartmentPartialView/DeleteDetailsPartialView" />

    <div>
        <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To list</a>
    </div>

</form>

