@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Employee</h1>
<br />
<br />

<form asp-action="Delete" enctype="multipart/form-data">
    
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />
    <input asp-for="ImageName" hidden />

    <div>
        <input type="submit" value="Delete" asp-route-id="@Model.Id" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-light">Back To list</a>
    </div>

</form>

